
%center
  - if @correct.nil?
    %h1 Which one is &pi;?
  - else
    - if @correct
      %h1.correct Yes! That was &pi;!
    - else
      %h1.wrong NOT &pi;.

  %hr

  - @data.each_with_index do |data, index|
    %p.data
      %a{href: "?guess=#{index}"}
        = data

%hr

- if @score
  (Score: #{@score}/#{@total} => #{@percent})


%a.reset{href: "?reset=true"} Reset
