.difficulty
  Difficulty:
  %form{action: "/", method: "get"}
    %select{name: "difficulty", onchange: "$('form').submit()"}
      = options_for_select({Easy: "easy", Medium: "medium", Hard: "hard", Nightmare: "nightmare"}, params[:difficulty] || "easy")


%center
  - if @correct.nil?
    %h1
      Which one is <span class="pi">&pi;?</span>
  - else
    - if @correct
      %h1.correct
        Yes! That was <span class="pi">&pi;!</span>
    - else
      %h1.wrong
        NOT <span class="pi">&pi;.</span>

  %hr

  - @data.each_with_index do |data, index|
    %p.data
      - if index == 0
        = link_to(guess: index, difficulty: params[:difficulty]) do
          %span.sparkline= data.chars.to_a.join(",")
          %span.numbers= data
      - else
        = link_to(guess: index, difficulty: params[:difficulty]) do
          %span.numbers= data
          %span.sparkline= data.chars.map{|c| -c.to_i}.join(",")

%hr

- if @score
  (Score: #{@score}/#{@total} => #{@percent})


%a.reset{href: "?reset=true"} Reset

:javascript
  rainbow = {
    0: "#000",
    1: "#00f",
    2: "#0f0",
    3: "#0ff",
    4: "#f00",
    5: "#f0f",
    6: "#ff0",
    7: "#f50",
    8: "#50f",
    9: "#5f5"
  }

  all_blue = { "-9:9": "#00f" }

  $(".sparkline").sparkline("html", { type: 'bar', barWidth: 8, color: 'blue', colorMap: all_blue });
